In [1]:
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql import Row

In [2]:
df = spark.read.csv('/home/dgorender/repo/pyspark_zipwithindex_dataframe/Data/base1.csv', header=True)

In [3]:
df.show()

+----------+----------+--------------+
|state_code|blood_type|marital_status|
+----------+----------+--------------+
|        29|         O|      DIVORCED|
|        45|         A|       WIDOWED|
|        12|         B|      DIVORCED|
|        30|         B|      DIVORCED|
|        44|         A|      DIVORCED|
|        38|         A|       WIDOWED|
|        39|         B|       MARRIED|
|        51|         O|       WIDOWED|
|        25|         A|       MARRIED|
|        38|         A|       WIDOWED|
|        36|         B|       WIDOWED|
|        22|         A|      DIVORCED|
|        14|         O|       WIDOWED|
|        42|         A|        SINGLE|
|        17|         A|      DIVORCED|
|        17|         O|      DIVORCED|
|        50|         O|      DIVORCED|
|        45|         B|       WIDOWED|
|        41|         O|       WIDOWED|
|        16|         A|       WIDOWED|
+----------+----------+--------------+
only showing top 20 rows

In [4]:
rdd_index = df.rdd.zipWithIndex()

In [5]:
def sdf_with_sequential_id(df, indexName, start):
    rdd_index = df.rdd.zipWithIndex()
    df_index = spark.createDataFrame(rdd_index.map(lambda x: list([k for k in x[0]] + [x[1] + start])), df.schema.add(indexName, LongType()))
    return df_index

In [6]:
df_index = sdf_with_sequential_id(df, 'index', 0)

In [7]:
df_index.show()

+----------+----------+--------------+-----+
|state_code|blood_type|marital_status|index|
+----------+----------+--------------+-----+
|        29|         O|      DIVORCED|    0|
|        45|         A|       WIDOWED|    1|
|        12|         B|      DIVORCED|    2|
|        30|         B|      DIVORCED|    3|
|        44|         A|      DIVORCED|    4|
|        38|         A|       WIDOWED|    5|
|        39|         B|       MARRIED|    6|
|        51|         O|       WIDOWED|    7|
|        25|         A|       MARRIED|    8|
|        38|         A|       WIDOWED|    9|
|        36|         B|       WIDOWED|   10|
|        22|         A|      DIVORCED|   11|
|        14|         O|       WIDOWED|   12|
|        42|         A|        SINGLE|   13|
|        17|         A|      DIVORCED|   14|
|        17|         O|      DIVORCED|   15|
|        50|         O|      DIVORCED|   16|
|        45|         B|       WIDOWED|   17|
|        41|         O|       WIDOWED|   18|
|        16|         A|       WIDOWED|   19|
+----------+----------+--------------+-----+
only showing top 20 rows

In [8]:
print(df_index.count() - df_index.select('index').distinct().count())

0